h1,h2{font-family: Century Gothic, Futura, Verdana;text-decoration: underline; color: #A4A400;background-color:#F0F0F0;letter-spacing: 0.2em;}
p,a,li{font-family:Georgia, Garamond;font-size: 11pt;}
body{background-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg"); background-repeat: repeat;margin-left: 25px;}
h1{font-size: 22pt;text-align: center;}
h2{font-size: 18pt;font-weight: normal;}
.important{font-weight: bold;}
ul li{list-style-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif)}
.usercomments p{font-style:italic;font-size: 11pt;font-weight: lighter;}
blockquote{background-color:#FFFFC8;margin: 0px 30px}
img{border-collapse: collapse;}
a{color:#A4A400;}
